.nav-link .search-input
{
	border: none;
	border-bottom: 1px solid #6c757d;
}
.row .col-md-6 .card img,.row .col-md-3 .card img
{
    height: 400px;
    width: 100%;
}
.row .col-md-3 .v-align .card img
{
    height: 200px;
    width: 100%;
    padding: 2px 0;
}
.col-md-6,.col-md-3
{
    padding: 2px;
}

.row .col-md-6 .card .card-img-overlay, .row .col-md-3 .card .c-i-o
{
    top: 210px;
}
.row .col-md-3 .v-align .card .card-img-overlay
{
    top: 10px;
}

#secondGrid .col-md-6 .card .new-card,#secondGrid .col-md-3 .card .new-card
{
    width: 100%;
    height: 200px;
}
