body
{
	background-image: linear-gradient(to bottom,#485563,#29323c);
	background-size: cover;
	background-position: center;
	color: #fff !important;
}
.services
{
	margin: 60px auto;
	text-align: center;
}
.services h1
{
	font-family: sans-serif;
	letter-spacing: 1px;
}
.services h1:after
{
	content: '';
	background: white;
	display: block;
	width: 200px;
	height: 3px;
	margin: 10px auto;
	border-radius: 25%;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 10px;
	height: 80px;
	width: 80px;
	border: 1px solid white;
	border-radius: 50%;
}

.col-md-4:hover
{
	cursor: pointer;
}
.contactUs
{
	margin: 30px auto;
}

.contactUs a
{
	text-decoration: none;
	color: #fff;
	transition: all 0.5s;
}
.contactUs a:hover
{
	content: '';
	text-decoration: none;
}
hr
{
	margin: 50px auto 0 auto;
}
.advertisment
{
	margin: 60px auto;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	position: relative;
}
