<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-compatible" content="ie=edge">
  <title>AIpoint Blogpost</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/7ef5507d5f.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static "css/style3.css" %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<!-- Fancybox-->
	<link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}">

	<link rel="stylesheet" href="{% static "css/home.css" %}">
	<link rel="shortcut icon" href="favicon.png">
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5eaae3429fbb400012e5abe6&product=inline-share-buttons" async="async"></script>

  <link rel="canonical"
  href="/web/tweet-button">

  <link rel="me"
  href="https://twitter.com/twitterdev"
  >

  <script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>

<script src="{% static '.\js\tinymce.js' %}"></script>
<script type="text/javascript" src="{% static '.\js\tinymce2.js' %}" ></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script data-ad-client="ca-pub-9837605228029638" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>




	<link rel="stylesheet" href="{% static "css/animate.min.css" %}">

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<style media="screen">
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}

header img{
height : 100px;
width : 100px;
}


</style>












</head>
<body>

  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg ">

          <a class="navbar-brand" href="{% url "home" %}">
            <img src="{% static "logo4.png" %}" alt="AIlogo">

            AIpoint</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>

            <li class="nav-item">
              <a class="nav-link" href="{% url "post-list" %}">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "privacy" %}">Privacy Policy</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "ourservice" %}">our services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "about" %}">About us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>


    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{ detail.thumbnail.url }}" alt="..." class="img-fluid"></div>
                <div class="sharethis-inline-share-buttons"></div>

              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {% for cat in categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}

                  </div>
                </div>
                <h1>{{ detail.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ detail.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ detail.author.user.username}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">
                    <div class="date"><i class="fa fa-clock-o"></i>{{ detail.timestamp|timesince}} ago</div>

                    <div class="comments meta-last"><i class="fa fa-comments"></i>{{ detail.comment_count}}</div>
                  </div>
                </div>

                <div class="post-body">
                  {{ detail.content | safe}}

                </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                  {% if detail.previous_post %}

                  <a href="{{ detail.previous_post.get_absolute_url }} " class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>{{ detail.previous_post.title }}</h6>
                    </div>
                  </a>
                  {% endif %}
                  {% if detail.next_post %}
                    <a href="{{ detail.next_post.get_absolute_url }} " class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>{{ detail.next_post.title }}</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i>
                    </div>
                  </a>
                  {% endif %}
                  </div>





                  <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/{{ posts.post.id }}" data-numposts="5" data-width=""></div>




        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{% url 'search' %}" class="search-form">
              <div class="form-group">
                <input type="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts"><a href="#">
              {% for posts in most_recent %}
              <a href="{{ posts.get_absolute_url }}">
                <div class="item d-flex align-items-center">

                  <div class="image"><img src="{{ posts.thumbnail.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{ posts.title }}</strong>
                    <div class="d-flex align-items-center">

                      <div class="views"><i class="fa fa-eye"></i>{{ posts.view_count }}</div>


                      <div class="comments"><i class="fa fa-comments"></i>{{ posts.comment_count }}</div>
                    </div>
                  </div>
                </div>
              </a>
                {% endfor %}



          </div>

          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat in category_count %}
            <div class="item d-flex justify-content-between"><a href="#">{{ cat.categories__title }}</a><span>{{ cat.categories__title__count }}</span></div>
            {% endfor %}

          </div>
          <!-- Widget [Tags Cloud Widget]-->

        </aside>
      </div>
    </div>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>

    <div class="container">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="card bg-light col-sm-8">
  					<div class="card-body row">
  						<img src="https://analyticssteps.com/backend/media/profile_pic/4992835/497042_1568265385_tanesh.jpeg" class="profile-pic rounded-circle col-sm-3">
  						<div class="col-sm-8 w-100">
  							<h3 class="card-title font-weight-bold"><a href="#" class="text-dark">Tanesh Balodi</a></h3>
  							<p class="card-text text-secondary">A splendid and inventive Machine Learning Intern in Aipoint. He loves deploying data in ML and finds out different insights to play with industry trends.</p>
  						</div>
  						<div class="col-sm-1">
  							<div class="float-left p-1">
  									<a href="https://www.linkedin.com/in/tanesh-balodi-70bbab17a">
  										<img src="https://www.analyticssteps.com/assets/images/author/linkedin.png" class="rounded-circle">
  									</a>
  							</div>

  							<div class="float-left p-1">
  								<a href="">
  									<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Vr8DfHIHQWd3rUGnO20uOgHaHa%26pid%3DApi&f=1" class="rounded-circle" style="width: 28px;height: 28px;">
  								</a>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
<br>
<br>

    <!-- Page Footer-->
    <footer>
      <div class="container-fluid p-0">
        <div class="row text-left">
          <div class="col-md-5 col-md-5">
            <h1 class=text-light>About Us</h1>
            <p class="text-muted">
              In AIpoint we wish to create enthusiasts in the promising field of Artificial Intelligence.
            </p>
            <p class="text-muted pt-4">
              Copyright @2020 All rights reserved by AIpoint by
              <span> Tanesh Balodi </span>

            </p>
          </div>
          <div class="col-md-5">
            <h4 class="text-light">Newsletter</h4>
            <p class="text-muted">Stay Updated</p>
            <form class="form-inline">
              <div class="col pl-0">
                <div class="input-group pr-5">
                  <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                  <div class="inpiut-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-arrow-right"></i>

                    </div>

                  </div>

                </div>

              </div>

            </form>
          </div>
          <div class="col-md-2 col-sm-12">
            <h4 class="text-light">Follow Us</h4>
            <p class="text-muted">Go social with us</p>
            <div class="column">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i>

            </div>
          </div>

        </div>

      </div>



    </footer>

<!-- JavaScript files-->

<script src="{ % static "./js/jquery3.4.1.min.js" % }"></script>


<script src="{ % static "./js/homepopper.js" % }"></script>


<script src="{ % static "./js/fontawesome.js" % }"></script>
<script src="{ % static "./js/bootstrap.min.js" % }"></script>
<script src="{ % static "./js/fancybox.min.js" % }"></script>
<script src="{ % static "./js/front.js" % }"></script>
<script src="{ % static "./js/jquery.cookie.js" % }"></script>



    <!-- JavaScript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="js/front.js"></script>
    <script src="js/st.js"></script>
    <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
 crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>


<script async src="https://static.addtoany.com/menu/page.js"></script>
  </body>
</html>
