<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Machine Learning, Data Science, Natural Language Processing, Artificial Intelligence, Python, Numpy, Matplotlib, Python Pandas">
  <meta http-equiv="X-UA-compatible" content="ie=edge">
  <title>AIpoint</title>
  <meta name = "description" content = "We Provide information Services related to Machine learning, Data Science and Artificial Intelligence. Our services include web-development, graphic designing and chatbots.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/7ef5507d5f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
   crossorigin="anonymous" />
   	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- Fancybox-->
  <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css"%}">


  <link rel="stylesheet" href="{% static "css/home.css" %}">



  <link rel="shortcut icon" type="image/png" href="static/favicon.png">




  <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
  <script data-ad-client="ca-pub-9837605228029638" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169193875-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169193875-1');
</script>
<!-- Global site tag (gtag.js) - Google Ads: 708405937 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-708405937"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-708405937');
</script>
<!-- Event snippet for Signup for the newsletter conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-708405937/YFoLCKypjNYBELHV5dEC'});
</script>





  <script data-ad-client="ca-pub-9837605228029638" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>





<style media="screen">


/* Style the button used to pause/play the video */
#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}

.container3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myBtn:hover {
background: #ddd;
color: black;
}
</style>





</head>
<body>

  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="{% url "home" %}">
          <img src="{% static "logo4.png" %}" alt="AIlogo">

          AIpoint</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false"
                   aria-label="Toggle navigation">
                   <i class="fas fa-align-right text-light"></i>
                 </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "post-list" %}">Blogs</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "Category" %}">Categories</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{% url "ourservice" %}">our services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "about" %}">About us</a>
            </li>

          </ul>
          <!-- Search form -->


      </nav>
      <div class = "container text-center">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h1 class= "animated bounceIn delay-1s" text = "left-align"> AIpoint is Here!</h1>
            <h3 class= "animated bounceIn delay-2s">Get along with the journey of AI</h3>
            <br>
            <p class= "animated bounceIn delay-3s">Welcome to the AIpoint,
              We are creating enthusiasts
              for the future of AI.
            <p>

          </div>
          <div class="col-md-5 col-sm-12 h-25">
            <img src="{% static "img-19.png" %}"  alt="AIpoint" class = "pic-one animated zoomIn delay-2s"/>
          </div>
        </div>


      </div>


    </div>

  </header>










  <!-- XXX:  -->


<!-- Latest Posts -->

<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest Posts</h2>

    </header>
    <div class="row">
      {% for obj in latest %}
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="{{ obj.get_absolute_url }}"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ obj.timestamp }}</div>
            <div class="category">
              {% for cat in obj.categories.all  %}
              <a href="#">{{ cat.title }}</a>
              {% endfor %}
            </div>
          </div><a href="{{ obj.get_absolute_url }}">
            <h3 class="h4">{{ obj.title }}</h3></a>
          <p class="text-muted">{{ obj.overview }}</p>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</section>


    <div class="container">

          <div class="header mt-3 d-none d-sm-block">
              <h1 class="diplay-3">Featured Post</h1>
          </div>
          <div class="row">
              <a href="https://aipoint.herokuapp.com/blog/post/Python-pandas-for-machine-learning/" class="col-md-6 d-none d-sm-block">
                  <div class="card">
                      <img src="https://aipoint3.s3.amazonaws.com/static/images/pandas.jpeg">
                      <div class="card-img-overlay">
                          <h6 class="text-muted card-text">13/06/2020</h6>
                          <hr>
                          <h2 class="card-title">Python Pandas for Machine Learning</h2>

                      </div>
                  </div>
              </a>
              <a href="https://aipoint.herokuapp.com/blog/post/Working-of-keras-functional-API/" class="col-md-3 d-none d-sm-block">
                  <div class="card">
                      <img src="https://aipoint3.s3.amazonaws.com/static/images/pexels-photo-1181671.jpeg">
                      <div class="card-img-overlay c-i-o">
                          <h6 class="text-muted card-text">28/05/2020</h6>
                          <hr>
                          <h2 class="card-title">Working Of Keras Functional API</h2>

                      </div>
                  </div>
              </a>
              <div class="col-md-3 d-none d-sm-block">
                  <div class="v-align">
                      <a href="https://aipoint.herokuapp.com/blog/post/Bag-of-words-in-NLP/" class="card">
                          <img src="https://aipoint3.s3.amazonaws.com/static/images/AI3.jpeg">
                          <div class="card-img-overlay align-self-end">
                              <h6 class="text-muted card-text">28/05/2020</h6>
                              <hr>
                              <h2 class="card-title">Bag of Words</h2>

                          </div>
                      </a>
                      <a href="https://aipoint.herokuapp.com/blog/post/Python-matplotlib-for-machine-learning/" class="card">
                      <img src="https://aipoint3.s3.amazonaws.com/static/images/matplotlo.jpeg">
                      <div class="card-img-overlay align-self-end">
                          <h6 class="text-muted card-text">12/05/2020</h6>
                          <hr>
                          <h2 class="card-title">Python Matplotlib </h2>

                      </div>
                  </a>
              </div>
          </div>
      </div>





          <div class="header mt-5">
              <h1 class="diplay-3">Most Loved</h1>
          </div>

          <div class="row mt-0 mb-5" id="secondGrid">
              <a href="https://aipoint.tech/blog/post/Fundamental-of-Google-Bert-and-Transformers/" class="col-md-3 pl-1 pr-1 mb-2">
                  <div class="card">
                      <img class="new-card" src="https://aipoint3.s3.amazonaws.com/static/images/google_bert.jpeg">
                      <div class="card-body mb-0">
                          <h5 class="card-title mb-0">Fundamentals of Google BERT and Transformers | Aipoint</h5>

                      </div>
                  </div>
              </a>
              <a href="https://aipoint.tech/blog/post/Mathematics-behind-Gradient-Descent/" class="col-md-3 pl-1 pr-1 mb-2">
                  <div class="card">
                      <img class="new-card" src="https://aipoint3.s3.amazonaws.com/static/images/gradient_descent.jpeg">
                      <div class="card-body mb-0">
                          <h5 class="card-title mb-0">Mathematics behind Gradient Descent Approach</h5>

                      </div>
                  </div>
              </a>
              <a href="https://aipoint.tech/blog/post/Key-Difference-between-Supervised-and-Unsupervised-Learning/" class="col-md-3 pl-1 pr-1 mb-2">
                  <div class="card">
                      <img class="new-card" src="https://aipoint3.s3.amazonaws.com/static/images/AI4.jpeg">
                      <div class="card-body mb-0">
                          <h5 class="card-title mb-0">Difference Between Supervised and Unsupervised Learning</h5>

                      </div>
                  </div>
              </a>
              <a href="https://aipoint.tech/blog/post/Generative-adversarial-network/" class="col-md-3 pl-1 pr-1 mb-2">
                  <div class="card">
                      <img class="new-card" src="https://aipoint3.s3.amazonaws.com/static/images/AI2.jpeg">
                      <div class="card-body mb-0">
                          <h5 class="card-title mb-0">Fundamentals Of Generative Adversarial Network(GAN's)</h5>

                      </div>
                  </div>
              </a>
          </div>

      </div>
<!--
    <div class="container3">

      <video width="1200" height="600" autoplay muted loop>

          <source src="{% static "ai.mp4" %}" type=video/mp4>
            </video>
            </div>



<br>
<br>
<br>
<br>
<br> --> -->



<!-- Optional: some overlay text to describe the video








<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">Join us by subscribing to our newsletter and stay connected with us.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="." method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Type your email address">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>







<footer>
<section class="py-2 bg-dark text-light">
  <div class="row p-5 w-100">
    <div class="col-sm-7">
      <p class="display-4"><span class="text-default">Ai</span>Point</p>
      <p class="mt-2">In AiPoint we wish to create enthusiasts in the promising field of <span class="text-default">Artificial Inteligence</span></p>
      <h4>Subscribe to our newsletter</h4>
      <p class="mb-0 text-default">Stay updated</p>
      <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
        <input type="email" name="email" placeholder="Type yout email address" class="form-control">
        <button type="submit" class="btn btn-md btn-default"><i class="fa fa-arrow-right"></i></button>
      </div>
      </form>

    </div>
    <div class="col-sm-3">
      <h2 class="pt-4 pb-2">About us</h2>
      <ul class="list-inline">
        <li class="my-2">
          <a href="{% url "ourservice" %}" class="text-default">Our services</a>
        </li>
        <li class="my-2">
          <a href="{% url "about" %}" class="text-default">Our team</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h2 class="pt-4 pb-2">Follow us</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/ai.point.2k20/" class="text-default" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/IpointA" class="text-default" target="_blank"><i class="fab fa-twitter"></i></a>
        </li><!--
        <li class="list-inline-item">
          <a href="#" class="text-default"><i class="fab fa-linkedin"></i></a>
        </li> -->
        <li class="list-inline-item">
          <a href="https://instagram.com/ai.point" class="text-default" target="_blank"><i class="fab fa-instagram"></i></a>
        </li><!--
        <li class="list-inline-item">
          <a href="#" class="text-default"><i class="fab fa-reddit"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="text-default"><i class="fab fa-discord"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="text-default"><i class="fab fa-telegram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="text-default"><i class="fab fa-whatsapp"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="text-default"><i class="fab fa-google-plus"></i></a>
        </li> -->
      </ul>
    </div>
  </div>
</section>
<h5 class="text-center my-3">Copyright &copy; 2020 All rights reserved by <a href="#" class="text-default">AiPoint</a></h5>
</footer>
















      <!-- Jquery Library file -->

      		      <script src="{ % static "./js/jquery3.4.1.min.js" % }"></script>





      		      <script src="{ % static "./js/fontawesome.js" % }"></script>
      		      <script src="{ % static "./js/bootstrap.min.js" % }"></script>
      		      <script src="{ % static "./js/fancybox.min.js" % }"></script>
      		      <script src="{ % static "./js/front.js" % }"></script>
      		      <script src="{ % static "./js/jquery.cookie.js" % }"></script>

                <script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>


      <script async src="https://static.addtoany.com/menu/page.js"></script>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>









</body>

</html>
