@import url(fonts.css);

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

.carousel-item{
  height: 100vh;
}

.slide-one{
  background:#b0c6f5;

}

.image-box{
  width:550px;
}

.pic-one{
  width:100%;
}
